body{
    background-color: rgb(255, 255, 255);
}
.contenedor {
    background-image: url(banner2.jpg);
    width: 100vw;
    height: 15vw;
    display: flex;
    top: auto;
    }
.barrabusqueda{
  background-color: white;
      color: #666;
      outline:black;
      width: 40vw;
      font-size: 8px;
      padding: 7px;
      height: 20px;
      margin: 5px;
      overflow: hidden;
      margin-top:auto;
      margin-bottom: auto;
}
.barra{
  width: 30vw;
}
.fa .fa-cart-plus{
  position: right;
}
html{
    scroll-behavior:  smooth;
} 
.presentacion{
  width: 100vh;
  display: flex;
  background-color: antiquewhite;
  justify-content: center;
  height: 100vh;
  padding: 50px;
  margin: 70px;
}
.img{
  height: 30vh;
}
h1{font-style: italic ;
    font-size: 70px; 
}
hr {
    height: 10px;
    background-color: black;
}
h2{
  font: size 100px;
  text-align: center;
 }
 h3 {
   font-size: 35px;
   color: rgb(5, 4, 3);
  @font-face {
    font-family: Kanit;
    src: url(Kanit);
  }
 }
  .remeras{
    width: 35vh;
    height: 45vh;
  }
 .listado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  max-width: 100vh;
 }

