body{
    background-color: rgb(244, 244, 184);
}
.contenedor {
    background-image: url(banner2.jpg);
    width: 100vw;
    height: 15vw;
    display: flex;
    top: auto;
    }
.barrabusqueda{
  background-color: white;
      color: #666;
      outline:black;
      width: 40vw;
      font-size: 8px;
      padding: 7px;
      height: 20px;
      margin: 5px;
      overflow: hidden;
      margin-top:auto;
      margin-bottom: auto;
}
.barra{
  width: 30vw;
}
.fa .fa-cart-plus{
  position: right;
}
html{
    scroll-behavior:  smooth;
} 

h1{font-style: italic ;
    font-size: 112px;
    text-align: center 
}
hr {
    height: 10px;
    background-color: black;
}
h2{
  font: size 100px;
  text-align: center;
 }
 h3 {
   font-size: 55px;
   color: rgb(16, 195, 189);
  @font-face {
    font-family: Kanit;
    src: url(Kanit);
  }
 }
  .remeras{
    width: 270px;
    height: 320px;
  }
 .listado{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
 }

